<meta meta charset=utf-8>
<app-bloc-recherche *ngIf="!isSelected"></app-bloc-recherche>

<!--Filtre-->
<div class="Filtre" *ngIf="!isSelected">
  <!--Filtre pro/part -->
  <h2>Annonces: </h2>
  <ul>
    <li>
      <label class="container_check">Professionnels
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </li>
    <li>
      <label class="container_check">Particuliers
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </li>
  </ul>

  <!--Filtre objets-->
  <label>Sélectionner l'Epoque de l'objet</label>
  <br><br>
  <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
    <mat-chip class="example-box" cdkDrag *ngFor="let epoques of epoque">
      {{epoques.name}}
    </mat-chip>
  </mat-chip-list>


</div>
<br>

<div class="liste_produit" *ngIf="!isSelected">
  <table>
    <tr>
      <th>#</th>
      <th>Categorie</th>
      <th>Epoque</th>
      <th>Article</th>
      <th>Description</th>
      <th>Etat</th>
      <th>Prix</th>
      <th></th>
    </tr>
    <tr *ngFor="let mydata of data[0]">
      <td><img src="http://localhost/export.php?id={{mydata.id_article}}"></td>
      <td>{{mydata.categorie}}</td>
      <td>{{mydata.epoque}}</td>
      <td>{{mydata.libelle_article}}</td>
      <td>{{mydata.descriptionart}}</td>
      <td>{{mydata.etat}}</td>
      <td>{{mydata.prix}}</td>
      <td><a
          routerLink="/accueil-connect/pagelisteproduit/{{mydata.id_article}}/{{mydata.categorie}}/{{mydata.epoque}}/{{mydata.libelle_article}}/{{mydata.descriptionart}}/{{mydata.etat}}/{{mydata.prix}}"><button
            (click)="selected()">Voir article</button></a></td>
    </tr>
  </table>
</div>
<div>
  <!-- <img src="http://localhost/export.php?id=3"> -->
  <!-- Pour appeller l'image -->
  <table *ngIf="isSelected">
    <tr>
      <td>Id: {{produit.id_img}}</td>
      <td>Catégorie {{produit.categorie}}</td>
      <td>Epoque: {{produit.epoque}}</td>
      <td>Article: {{produit.libelle_article}}</td>
      <td>Description: {{produit.description}}</td>
      <td>Etat: {{produit.etat}}</td>
      <td>Prix: {{produit.prix}}</td>
      <td><a routerLink="/accueil-connect/pagelisteproduit/:id/:categorie/:epoque/:libelle_article/:description/:etat/:prix"><button
            (click)="notSelected()">Retour</button></a></td>
      <td><button (click)="addToCart(produit)">Ajouter au panier</button></td>
    </tr>
  </table>

</div>