<meta meta charset=utf-8>
<br>
<!--Filtre-->
<div class="Filtre" *ngIf="!isSelected">
    <label>Annonces:</label>
    <input type="checkbox"><label class="container_check">Professionnels</label>
    <input type="checkbox"><label class="container_check">Particuliers</label>
</div>
<!--Liste de tout les produits (faire une boucle While avec JS pour faire apparaitre toute les annonces)-->
<!-- Exemple à bouger par la suite-->
<div class="liste_produit" *ngIf="!isSelected">
  <div>
    <div *ngFor="let mydata of data[0]" class="div_art">
      <div class="image_liste_produit">
        <img src="http://mythic.erwan-decoster.com/export.php?id={{mydata.id_article}}" class="imgart">
      </div>
      <div class="categorie_liste_produit">
        <label>Catégorie</label><br>
          <img src="{{mydata.categorie}}" width="105px">
      </div>
      <div class="epoque_liste_produit">
        <label>Epoque</label><br>
        <img src="{{mydata.epoque}}" width="71px">        
      </div>
      <div class="libelle_liste_produit">
        <label>Nom de l'Article</label><br>
        {{mydata.libelle_article}}
      </div>
      <div class="descriptionart_liste_produit">
        <label>Description</label><br>
        {{mydata.descriptionart}}
      </div>
      <div class="etat_liste_produit">
        <label>Etat</label><br>
        {{mydata.etat}}
      </div>
      <div class="prix_liste_produit">
          <label class="label_prix"><h3>Prix :</h3></label>
          {{mydata.prix}}
      </div>
      <div>
        <a routerLink="/accueil-connect/pagelisteproduit/{{mydata.id_article}}/{{mydata.categorie}}/{{mydata.epoque}}/{{mydata.descriptionart}}/{{mydata.libelle_article}}/{{mydata.etat}}/{{mydata.prix}}">
          <button (click)="selected()" class="bouton_voir_article">Voir article</button>
        </a>
      </div>
      <br>
    </div>
  </div>
</div>


<div class="liste_produit" *ngIf="isSelected">
  <div class="div_art">
    <div class="image_liste_produit">
      <img src="http://mythic.erwan-decoster.com/export.php?id={{produit.id_img}}" class="imgart">
    </div>
    <div class="categorie_liste_produit">
      <label>Catégorie</label><br>
      {{produit.categorie}}
    </div>
    <div class="epoque_liste_produit">
      <label>Epoque</label><br>
      {{produit.epoque}}
    </div>
    <div class="libelle_liste_produit">
      <label>Nom de l'Article</label><br>
      {{produit.libelle_article}}
    </div>
    <div class="descriptionart_liste_produit">
      <label>Description</label><br>
      {{produit.description}}
    </div>
    <div class="etat_liste_produit">
      <label>Etat</label><br>
      {{produit.etat}}
    </div>
    <div class="prix_liste_produit">
      <label class="label_prix">
        <h3>Prix :</h3>
      </label>
      {{produit.prix}}
    </div>
    <div>
      <a routerLink="accueil-connect/pagelisteproduit/:id/:categorie/:epoque/:libelle_article/:description/:etat/:prix"><button
          (click)="notSelected()" class="bouton_voir_article">Retour</button></a>
    </div>
    <br>
  </div>
<br><br><br>