<app-bloc-recherche></app-bloc-recherche>

<!--Filtre-->
<div class="Filtre">
    <!--Filtre pro/part -->
    <h2>Annonces: </h2>
    <ul>
    <li>
    <label class="container_check">Professionnels
    <input type="checkbox">
    <span class="checkmark"></span>
    </label>
    </li>
    <li><label class="container_check">Particuliers
    <input type="checkbox">
    <span class="checkmark"></span>
    </label>
    </li>
    </ul>

    <!--Filtre objets-->
    <mat-chip-list
    class="example-chip"
    cdkDropList 
    cdkDropListOrientation="horizontal"
    >
    <mat-chip
      class="example-box"
      cdkDrag
      *ngFor="let categorie of categorie">
      {{categorie.name}}
    </mat-chip>
  </mat-chip-list>
  


</div>

<!--Liste de tout les produits (faire une boucle While avec JS pour faire apparaitre toute les annonces)-->
<!-- Exemple à bouger par la suite-->>
<div class="liste_produit">
    <button>
        <div class="img_liste_produit"><img src="../../assets/ressources/Group 47.png"></div>
        <div class="categorie_liste_produit">Catégories<img src="../../assets/ressources/Group 27.png"></div>
        <div class="periode_liste_produit">Périodes<img src="../../assets/ressources/Group 44.png"></div>
        <div class="description_liste_produit">Description<div>Armure datant de l’époque du Moyen-Age, servie qu’une fois.</div></div>
        <div class="prix_liste_produit">Prix</div>
    </button>
    
</div>