<meta meta charset=utf-8>
<app-bloc-recherche *ngIf="!isSelected"></app-bloc-recherche>

<!--Filtre-->
<div class="Filtre" *ngIf="!isSelected">
  <!--Filtre pro/part -->
  <h2>Annonces: </h2>

    <input type="checkbox"><label class="container_check">Professionnels</label>
    <input type="checkbox"><label class="container_check">Particuliers</label>

  <!--Filtre objets-->
</div>
<br>

<!--Liste de tout les produits (faire une boucle While avec JS pour faire apparaitre toute les annonces)-->
<!-- Exemple à bouger par la suite-->
<div class="liste_produit" *ngIf="!isSelected">


  <table>
    <tr>
      <th>#</th>
      <th>Catégorie</th>
      <th>Epoque</th>
      <th>Article</th>
      <th>Description</th>
      <th>Etat</th>
      <th>Prix</th>
      <th></th>
    </tr>
    <tr *ngFor="let mydata of data[0]">
      <td><img src="http://localhost/export.php?id={{mydata.id_article}}"></td>
      <td>{{mydata.categorie}}</td>
      <td>{{mydata.epoque}}</td>
      <td>{{mydata.libelle_article}}</td>
      <td>{{mydata.descriptionart}}</td>
      <td>{{mydata.etat}}</td>
      <td>{{mydata.prix}}</td>
      <td><a
          routerLink="/pagelisteproduit/{{mydata.id_article}}/{{mydata.categorie}}/{{mydata.epoque}}/{{mydata.libelle_article}}/{{mydata.descriptionart}}/{{mydata.etat}}/{{mydata.prix}}"><button
            (click)="selected()">Voir article</button></a></td>
    </tr>
  </table>
</div>
<div>

  <!-- <img src="http://localhost/export.php?id=3"> -->
  <!-- Pour appeller l'image -->
  <table *ngIf="isSelected">
    <tr>
      <td>Id: {{produit.id_img}}</td>
      <td>Catégorie {{produit.categorie}}</td>
      <td>Epoque: {{produit.epoque}}</td>
      <td>Article: {{produit.libelle_article}}</td>
      <td>Description: {{produit.description}}</td>
      <td>Etat: {{produit.etat}}</td>
      <td>Prix: {{produit.prix}}</td>
      <td><a routerLink="/pagelisteproduit/:id/:categorie/:epoque/:libelle_article/:description/:etat/:prix"><button
            (click)="notSelected()">Retour</button></a></td>
    </tr>
  </table>

</div>
