<meta meta charset=utf-8>
<br>
<!--Filtre-->
<div class="Filtre" *ngIf="!isSelected">
    <label>Annonces: </label>
    <input type="checkbox"><label class="container_check">Professionnels</label>
    <input type="checkbox"><label class="container_check">Particuliers</label>

  <!--Filtre objets-->
</div>
<br>

<!--Liste de tout les produits (faire une boucle While avec JS pour faire apparaitre toute les annonces)-->
<!-- Exemple à bouger par la suite-->
<div class="liste_produit" *ngIf="!isSelected">
  <div>
    <div *ngFor="let mydata of data[0]" class="div_art">
      <div class="image_liste_produit">
        <img src="http://localhost/export.php?id={{mydata.id_article}}" width="150px">
      </div>
      <div class="categorie_liste_produit">
        <label>Catégorie</label><br>
        <div class="image_liste_produit">
          <img src="{{mydata.categorie}}" width="150px">
        </div>
        
      </div>
      <div class="epoque_liste_produit">
        <label>Epoque</label><br>
        <div class="image_liste_produit">
          <img src="{{mydata.epoque}}" width="150px">
        </div>        
      </div>
      <div class="libelle_liste_produit">
        <label>Nom de l'Article</label><br>
        {{mydata.libelle_article}}
      </div>
      <div class="descriptionart_liste_produit">
        <label>Description</label><br>
        {{mydata.descriptionart}}
      </div>
      <div class="etat_liste_produit">
        <label>Etat</label><br>
        {{mydata.etat}}
      </div>
      <div class="prix_liste_produit">
        <label><h3>Prix</h3></label><br>
        {{mydata.prix}}
      </div>
      <div>
        <a routerLink="/pagelisteproduit/{{mydata.id_article}}/{{mydata.categorie}}/{{mydata.epoque}}/{{mydata.descriptionart}}/{{mydata.libelle_article}}/{{mydata.etat}}/{{mydata.prix}}">
          <button (click)="selected()" class="bouton_voir_article">Voir article</button>
        </a>
      </div>
      <br>
    </div>
  </div>
</div>


<div>

  <!-- <img src="http://localhost/export.php?id=3"> -->
  <!-- Pour appeller l'image -->
  <table *ngIf="isSelected">
    <tr>
      <td>Id: {{produit.id_img}}</td>
      <td>Catégorie {{produit.categorie}}</td>
      <td>Epoque: {{produit.epoque}}</td>
      <td>Article: {{produit.libelle_article}}</td>
      <td>Description: {{produit.description}}</td>
      <td>Etat: {{produit.etat}}</td>
      <td>Prix: {{produit.prix}}</td>
      <td><a routerLink="/pagelisteproduit/:id/:categorie/:epoque/:libelle_article/:description/:etat/:prix"><button
            (click)="notSelected()">Retour</button></a></td>
    </tr>
  </table>
  

</div>

<br><br><br>
