.Filtre{
    padding: 5px;
    margin-left: 15%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 75%;
    background: pink;
}

.div_art{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:auto;
    background: lawngreen;
    
}
.liste_produit{
    padding: 0px;
    margin:0 auto;
    background-color: white;
/*     border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    width: 50%;

    
}
.liste_produit table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    
}

.image_liste_produit{
    background: yellow;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
}
.libelle_liste_produit{
    background: cyan;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.etat_liste_produit{
    background: red;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.prix_liste_produit{
    background: pink;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.div_bouton_voir_article{
    transform: translateY(45%);
}
.bouton_voir_article{
    background: #FFAC4B;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
/* unvisited link */
a:link {
    color: black,
}
  
  /* visited link */
a:visited {
    color: black,
}