<br><br><br><br><br><br><br><br>


<h2>Panier</h2>

<!-- Remplacer X article par nb d'article dans le panier-->
<!-- Remplacer Prix par le des articles dans le panier-->
message : {{message}} <br>

<!-- <div class="cart-item">
  <tr *ngFor="let item of items">
    <td>Id : {{ item.id }}</td>
    <td>Libellé : {{ item.libelle_article }}</td>
    <td>Libellé : {{ item.etat }}</td>
    <td>Libellé : {{ item.prix }}</td>
  </tr>
  aller
</div> -->
<table>
  <tr>
    <th>#</th>
    <th>Article</th>
    <th>Etat</th>
    <th>Prix</th>
    <th></th>
  </tr>
  <tr *ngFor="let mydata of items">
    <td>{{mydata.id}}</td>
    <td>{{mydata.libelle_article}}</td>
    <td>{{mydata.etat}}</td>
    <td>{{mydata.prix}}</td>
    <td><button (click)="deleteRow(mydata)">Enlever du panier</button></td>
  </tr>
</table>

moi


<div class="paiment">
    <div>
        <p>Sous-Total (X article): <strong>Prix</strong></p>
        <button class="payement"type="submit">Payer</button>
    </div>
</div>

