<meta meta charset=utf-8>
<br><br><br><br><br><br>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="inscription-pro.component.scss">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>

<form (ngSubmit)="SaveData(registerFrom)" #registerFrom="ngForm">

  <h1>Inscription</h1>

  <div class="inputs">
    <input type="text" id="name" name="name" required minlength="3" maxlength="20"
      placeholder="Nom de l'entreprise (entre 3 et 20 charactères)" [(ngModel)]='user_pro.nom_entreprise'
      name='nom_entreprise' required>
    <input type="email" placeholder="Email" [(ngModel)]='user_pro.email' name='email' id='email' required/>
    <input type="password" placeholder="Mot de passe (entre 8 et 25 charactères)" required minlength="8" maxlength="25"
    [(ngModel)]="user_pro.mdp" name="mdp" required>
    
    <input type="number" placeholder="Numéro de Siret" required max="14" [(ngModel)]="user_pro.siret" name="siret" required/>
    <input type="number" placeholder="Code APE" required max="99999" [(ngModel)]="user_pro.code_ape" name="code_ape" required/>

  </div>

  <p class="inscription">J'ai un compte. Je me <a (click)="goToPage('connexion')"><span>connecte</span></a> à mon
    compte.
  </p>

  <div class="div_conditions_utilisations">
    <input type="checkbox" class="input_condition_utilisation"><label>J'accepte de recevoir des pubs sur l'ajout de fonctionalité ou d'offre concernant mes recherches</label>
  </div>
  <div class="div_conditions_utilisations">
    <input type="checkbox" class="input_condition_utilisation" required><label>J’accepte les conditions d’utilisations du site</label>
  </div>

  <div align="center">
    <button type="submit" class="button_pro">S'Inscrire</button>
  </div>
</form>
<br><br>
