@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

form {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 750px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
form h1{
  color: #FFAC4B;
  text-align:center;
}


form .inputs {
  display: flex;
  flex-direction: column;
}

.ajout_img{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
}

.categorie{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
}

.epoque{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
}
.Article{
  padding: 15px;
  border:none;
  border-radius: 5px;
  background-color:#f2f2f2;
  outline:none;
  margin-bottom: 15px;
}

.description{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
}

.prix{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
}

.button_ajout_offre{
  padding: 15px 25px;
  border-radius: 5px;
  border:none;
  font-size: 15px;
  color: #fff;
  background-color: #FFAC4B;
  outline:none;
  cursor:pointer;
  margin-left: 45% ;
  margin-top: -1%;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* unvisited link */
a:link {
  color: black
}

/* visited link */
a:visited {
  color: black
}

