
<br><br><br><br><br>

<form [formGroup]="angForm" (ngSubmit)="getdata(angForm)" autocomplete="off" enctype="multipart/form-data">

  <h1>Ajout d'Offre</h1>


  <div class="inputs">
    <!-- <input class="ajout_img" placeholder="Déposer votre Image" type="file"/> -->
    <input type="text" name="nom_article" formControlName="nom_article" autocomplete="off" class="nom_article"
      placeholder="Nom Article" required><br>
    
    <input class="file-upload" type="file" name="add_img" (change)="onFileSelected($event)" required/>
    
    <br>

    <label>Sélectionner la Catégorie de l'objet</label>

    <mat-radio-group required>
      <mat-radio-button value="Armes"  (change)="getValueRadioCategorie($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Armes.png">

      <mat-radio-button value="Vaisselles" (change)="getValueRadioCategorie($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Vaisselles.png"> 

      <mat-radio-button value="Meubles" (change)="getValueRadioCategorie($event)"></mat-radio-button>
      <img width="125" src="../../../assets/ressources/Meubles.png"><br>

      <mat-radio-button value="Armures" (change)="getValueRadioCategorie($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Armures.png">

      <mat-radio-button value="Tableaux" (change)="getValueRadioCategorie($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Tableaux.png">

      
      <mat-radio-button value="Sculptures" (change)="getValueRadioCategorie($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Sculptures.png">

    </mat-radio-group>

    <br>

    <label>
      Sélectionner l'Epoque de l'objet
    </label>

    <mat-radio-group required>
      <mat-radio-button value="Antiquite"  (change)="getValueRadioEpoque($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Antiquite.png">

      <mat-radio-button value="Moyen_Age" (change)="getValueRadioEpoque($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Moyen_Age.png"> 

      <mat-radio-button value="Renaissance" (change)="getValueRadioEpoque($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Renaissance.png">

      <mat-radio-button value="Contemporain" (change)="getValueRadioEpoque($event)"></mat-radio-button>
      <img width="100" src="../../../assets/ressources/Contemporain.png">
    </mat-radio-group>
  
    <br>

    <label>
      Sélectionner l'Etat de l'objet
    </label>
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons3" [value]="season"
      (change)="getValueRadioEtat($event)" name="gp3" required>
      {{season}}
    </mat-radio-button>

    <br>

    <input type="text" name="description" formControlName="description" autocomplete="off" class="description"
      placeholder="Description" maxlength="200" required>
    <input type="number" name="prix" formControlName="prix" autocomplete="off" class="prix" placeholder="Prix" required>
  </div>




  <button type="submit" class="button_ajout_offre" (click)="onUpload()">Ajouter Offre</button>
</form>


