<!-- Zone recherche objets --> 
<!-- Catégories --> 
<!-- <h3>Catégories les plus visitées</h3> -->

<!--Caroussel-->
<!-- <h1>Connecter</h1>
<div class="caroussel">
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
</div> -->
<p>Ca marche</p>