* {
  padding: 0px;
  margin: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.footer {
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}