<!-- Page d'accueil -->
<!-- Nav barre -->
<app-nav-bar></app-nav-bar>

<!-- Zone recherche objets --> 
<app-bloc-recherche></app-bloc-recherche>
<!-- Catégories --> 
<h3>Catégories les plus visitées</h3>

<!--Bouton pour switch page-->
<a href="page-liste-produit/page-liste-produit.component.html">
    <button>Click Me</button>
  </a>
<button routerLink="page-liste-produit/page-liste-produit.component.html" class="btn">Page liste produit</button>
<button onclick="window.location.href='page-produit/page-produit.component.html'">Page produit</button>
<button onclick="window.location.href='profil-part/profil-part.component.html'">Page profil particulier</button>
<button onclick="window.location.href='profil-pro/profil-pro.component.html'">Page profil pro</button>
<button onclick="window.location.href='panier/panier.component.html'">Page panier</button>

<br><br>
<app-page-liste-produit></app-page-liste-produit>
<br><br>

<app-page-produit></app-page-produit>