<!-- Page d'accueil -->

<app-nav-bar></app-nav-bar>

<!-- Zone recherche objets --> 
<div class="navrecherche">
    <div class="categorie">
        <button><img src="../../ressources/Group 4.png"></button>
        <input type='text' id ='categories' placeholder="Categories" class="inputcate">
        
    </div>
    <br>
    <div class="recher">
        <div>
            <img src="../../ressources/Group 34.png">
            <input type='text' id ='recher' placeholder="Mots Clé">
        </div>
    </div>
    <br>
    <div class="loca">
        <div>
            <img src="../../ressources/Group 7.png">
            <input type='text' id ='localisations' placeholder="Localisations">
        </div>
        
    </div>
</div>
<div class="divrecherche">
    <div>
        <p>Recherches</p>
    </div>
</div>
<br><br><br><br><br>

<!-- Catégories --> 
<h3>Catégories les plus visitées</h3>
<!--  -->