<br><br><br><br><br><br><br><br>


<h2>Panier</h2>

<div class="zone_article">
    <table class="tab">
        <thead>
          <tr>
            <td class="img_liste_produit"><img class="img_prod" src="../../assets/ressources/Group 47.png"></td>
            <td class="categorie_liste_produit"><h3>Catégories</h3><img class="img_categorie"src="../../assets/ressources/Group 27.png"></td>
            <td class="periode_liste_produit"><h3>Périodes</h3><img class="img_periode" src="../../assets/ressources/Group 44.png"></td>
            <td class="description_liste_produit"><h3>Description</h3><p>Armure datant de l’époque du Moyen-Age, servie qu’une fois.</p></td>
            <td class="prix_liste_produit"><h3>Prix</h3></td>
          </tr>
        </thead>
        </table>
    <div class="articles">
        
    </div>
    <div class="articles">
        
    </div>
</div>

<!-- Remplacer X article par nb d'article dans le panier-->
<!-- Remplacer Prix par le des articles dans le panier-->

<div class="paiment">
    <div>
        <p>Sous-Total (X article): <strong>Prix</strong></p>
        <button class="payement"type="submit">Payer</button>
    </div>
</div>

