<meta meta charset=utf-8>
<br><br><br><br><br><br><br><br>


<h2>Panier</h2>

<table>
  <tr *ngFor="let mydata of items">
    <td><img src="http://localhost/export.php?id={{mydata.id_img}}"></td>
    <td>{{mydata.libelle_article}}</td>
    <td>{{mydata.description}}</td>
    <td>{{mydata.etat}}</td>
    <td>{{mydata.prix}}</td>
    <td><button (click)="valueChange(mydata.prix)" (click)="deleteRow(mydata)">Enlever du panier</button></td>
  </tr>
</table>


<div class="paiment">
  <div>
    <p>Prix total à payer : <strong>{{totalPrice}} €</strong></p>
    <button (click)="valueChange(totalPrice)" (click)="clearCart()">Payer</button>
  </div>
</div>

<a routerLink="/accueil-connect/pagelisteproduit/:id/:categorie/:epoque/:libelle_article/:description/:etat/:prix"><button class="Recherche">Retourner sur la page des produits</button></a>
