<nav>
    <div>
        <ul>
            <li>
                <img src="../../assets/ressources/Vector 18.png"> 
            </li>
            <li>
                <h1>Mythic</h1>
            </li>
            <li>
                
                <button class="ajouter_offre"><img src="../../assets/ressources/Group 32.png">Ajouter Offre</button>
            </li>
            <li class="recherche">
                <img src="../../assets/ressources/Group 33.png">
                <input type='text'>
            </li>             
        </ul>
        <ul class="conn_ins">
            <li>
                <button (click)="goToPage('connexion')">Connexion</button>
            </li>
            <li>
                <button (click)="goToPage('inscription')" class="btn_inscription"><img src ="../../assets/ressources/Group 31.png">Inscription</button>
            </li>
            <li>
                <button (click)="goToPage('pagelisteproduit')"><img src ="../../assets/ressources/Group 48.png" class="pannier"></button>
            </li>
        </ul>            
    </div>        
</nav>