<meta meta charset=utf-8>
<nav>
  <div>
    <ul>
      <a (click)="goToPage('pagelisteproduit/:id/:categorie/:epoque/:libelle_article/:description/:etat/:prix')">
        <li>
          <img src="../../assets/ressources/Vector 18.png">
        </li>
        <li class="Titre">
          <h1>Mythic</h1>
        </li>
      </a>
    </ul>
    <ul class="conn_ins">
      <li>
        <button (click)="goToPage('connexion')" class="connexion">Connexion</button>
      </li>
      <li>
        <button (click)="goToPage('inscription')" class="btn_inscription"><img
            src="../../assets/ressources/Group 31.png">Inscription</button>
      </li>
    </ul>
  </div>
</nav>
