*{
    padding: 0px;
    margin: 0px;
}

nav{
    margin : auto;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    align-items: center;
}

li{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ajout_offre{
    border: 1px solid black;
    background-color: #FFAC4B;
    padding: 5px;
    border-radius: 5px;
    
}
.recherche{
    margin-left: 200px;
}

.conn_ins{
    float: right;
    align-items: center;
    margin-top:-6%;
    background-color: transparent;
    display: flex;
}

.connexion{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}


.btn_inscription{
    border: 1px solid black;
    padding: 2px;
    background-color: #FFAC4B;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pannier{
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    width: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    align-items: center;
}
h1{
    margin-top:15%;
}
/* unvisited link */
a:link {
    color: black
}
  
  /* visited link */
a:visited {
    color: black
}
  