<nav>
    <div>
        <ul>
            <a (click)="goToPage('accueil')">
                <li>
                    <img src="../../assets/ressources/Vector 18.png"> 
                </li>
                <li class="Titre">
                    <h1>Mythic</h1>
                </li>
            </a>
            
            <li>
                <button (click)="goToPage('ajout_offre')" class="ajouter_offre"><img src="../../assets/ressources/Group 32.png">Ajouter Offre</button>
            </li>            
        </ul>
        <ul class="conn_ins">
            <li>
                <button (click)="goToPage('connexion')" class="connexion" >Connexion</button>
            </li>
            <li>
                <button (click)="goToPage('inscription')" class="btn_inscription"><img src ="../../assets/ressources/Group 31.png">Inscription</button>
            </li>
            <li>
                <button (click)="goToPage('panier')"><img src ="../../assets/ressources/Group 48.png" class="pannier"></button>
            </li>
        </ul>
    </div>
</nav>