<meta meta charset=utf-8>
<br><br><br><br><br><br>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="inscription-user.component.scss">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>

<form (ngSubmit)="SaveData(registerFrom)" #registerFrom="ngForm">

  <h1>Inscription Particulier</h1>

  <div class="inputs">
    <input type="email" placeholder="Email" [(ngModel)]='user_part.email' name='email' id='email' />
    <input type="email" placeholder="Confirmer Adresse Mail" />
    <input type="text" id="name" name="name" required minlength="3" maxlength="20" placeholder="Nom"
      [(ngModel)]='user_part.nom' name='nom'>
    <input type="text" placeholder="Prénom" required maxlength="14" [(ngModel)]="user_part.prenom" name="prenom" />
    <input type="text" placeholder="Localite" required maxlength="5" [(ngModel)]="user_part.localite" name="localite" />
    <input type="number" placeholder="Numéro de Téléphone" required maxlength="5" [(ngModel)]="user_part.telephone"
      name="telephone" />
    <input type="password" placeholder="Mot de passe (entre 8 et 25 charactères)" required minlength="8" maxlength="25"
      [(ngModel)]="user_part.mdp" name="mdp">
    <input type="password" placeholder="Confirmer Mot de passe (entre 8 et 25 charactères)" required minlength="8"
      maxlength="25">
  </div>

  <div class="div_conditions_utilisations">
    <input type="checkbox" class="input_condition_utilisation"><label>J'accepte de recevoir des pubs sur l'ajout de fonctionalité ou d'offre concernant mes recherches</label>
  </div>
  <div class="div_conditions_utilisations">
    <input type="checkbox" class="input_condition_utilisation"><label>J’accepte les conditions d’utilisations du site</label>
  </div>

  <br>

  <p class="inscription">J'ai un compte. Je me <a (click)="goToPage('connexion')"><span>connecte</span></a> à mon
    compte.</p>
  <div align="center">
    <button type="submit" class="button_pro">S'Inscrire</button>
  </div>
</form>
<br><br>
