
<div class="navrecherche">

    
    <div class="categorie">

        <button mat-button [matMenuTriggerFor]="menu">Catégories</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Armes</button>
          <button mat-menu-item>Vaisselles</button>
          <button mat-menu-item>Meubles</button>
          <button mat-menu-item>Divers</button>
        </mat-menu>
    </div>
    <br>
    <div class="recher">
        <div>
            <img src="../../assets/ressources/Group 34.png">
            <input type='text' id ='recher' placeholder="Mots Clé">
        </div>
    </div>
    <br>
    <div class="loca">
        <div>
            <img src="../../assets/ressources/Group 7.png">
            <input type='text' id ='localisations' placeholder="Localisations">
        </div>
     
    </div>
</div>
<div class="divrecherche">
    <div>
        <p>Recherches</p>
    </div>
</div>
<br><br><br><br><br>
