
.blocrecherche{
    padding: 15px;
    margin: 0 auto;
    background-color: #F4F3F3;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 750px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-content: space-between;
}

.menu{
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recher{
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loca{
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divrecherche{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #B0F2B6;
    padding: 3px;
    width: 200px;
    margin:0 auto;
    text-align: center;
}

/* unvisited link */
a:link {
    color: black
}
  
  /* visited link */
a:visited {
    color: black
}
  