<div class="navrecherche">
    <div class="categorie">
        <button>
            <img src="../../assets/ressources/Group 4.png">
            <label>Catégories</label>
            <img src="../../assets/ressources/Group 5.png">
    </button>
    </div>
    <br>
    <div class="recher">
        <div>
            <img src="../../assets/ressources/Group 34.png">
            <input type='text' id ='recher' placeholder="Mots Clé">
        </div>
    </div>
    <br>
    <div class="loca">
        <div>
            <img src="../../assets/ressources/Group 7.png">
            <input type='text' id ='localisations' placeholder="Localisations">
        </div>
     
    </div>
</div>
<div class="divrecherche">
    <div>
        <p>Recherches</p>
    </div>
</div>
<br><br><br><br><br>
