<!-- Zone recherche objets --> 
<app-bloc-recherche></app-bloc-recherche>
<!-- Catégories --> 
<h3>Catégories les plus visitées</h3>

<!--Caroussel-->

<div class="caroussel">
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
</div>