*{
    margin: 0px;
    padding: 15px;
}

.caroussel{
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
}

/* unvisited link */
a:link {
    color: black
}
  
  /* visited link */
a:visited {
    color: black
}
  