<!-- Zone recherche objets --> 
<app-bloc-recherche></app-bloc-recherche>
<!-- Catégories --> 
<h3>Catégories les plus visitées</h3>

<!--Caroussel-->

<!--<div class="caroussel">
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
    <div>
        <img src="../../assets/ressources/Group 27.png">
    </div>
</div>-->
<div class="container">
    <h1>Carrousel</h1>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-1.jpg" alt="Carrousel slide 1" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg" alt="Carrousel slide 2" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-3.jpg" alt="Carrousel slide 3" class="d-block w-100">
        </div>
      </div>
    </div>
  </div>